spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: patient-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/patients/**
        - id: doctor-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/doctors/**
        - id: appointment-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/appointments/**
        - id: pharmacy-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/pharmacy/**
        - id: lab-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/lab/**
        - id: notification-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/notifications/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized
